@font-face {
    font-family: 'jazz_clubregular';
    src: url("Jazz_Club.ttf");
}

@font-face {
    font-family: 'notable';
    src: url("Notable-Regular.ttf");
}

@font-face {
    font-family: 'yasashii_bold';
    src: url("yasashii-w01-bold.ttf");
}

@font-face {
    font-family: 'Neutraface';
    src: url("NeutrafaceTextBold.otf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%)!important;
    color: white !important;
    font-family: "Neutraface" !important;

}


/* Registration form */
.big_form{
    height: 75%;
    width: 75%;
    padding: 50px;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    border: 1px solid white ;
    background-color: rgb(172, 172, 172, 0.4);
    border-radius: 30px;
    border-right: 0;
    border-left: 0;
}

/* Navigation bar */
.jazz{

    list-style: none;
    text-decoration: none;
}

.navi_list{
    list-style: none;
}

.navi_link{

    text-decoration: none;
    color: #0456b4;
    font-size: 1.5rem;
}

.navi_link:hover{
    color: white;
    text-shadow:
      0 0 2px #fff,
      0 0 4px #fff,
      0 0 6px #fff,
      0 0 15px #0456b4,
      0 0 23px #0456b4,
      0 0 36px #0456b4,
      0 0 42px #0456b4,
      0 0 67px #0456b4,
      0 0 81px #0456b4;
}

/* HEADER */
 header{
    position: relative;
    padding: 0 2rem;
 }

.navbar{
    width: 100%;
    height: 60px;
    /* max-width: 1200px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .jazz a{
    font-family: 'yasashii_bold';
    font-size: 50px;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    font-weight: 500;
    gap: 2rem;
}

#content{
    margin: 150px 0 100vh 0;
}


/* Guest View Home Page */
.containerA{
    justify-content: center;
    align-items: center;
    animation: scale-up 0.9s linear;

}

.announcement{
    margin-left: auto;
    margin-right: auto; 
    width: 800px;
    padding: 5px;
    background-color:whitesmoke;
    color: black;
    border: 1px solid white;
    transform: rotate(-5deg);
    animation: rotate 0.2s linear 5;
    position: relative;
}

.announcement::before{
    content: '';
    width: 8px;
    height: 98%;
    position: absolute;
    top: 1%;
    left: -10px;
    background-color: whitesmoke;
    border-color: 1px solid #999;
}

.announcement::after{
    content: '';
    width: 8px;
    height: 96%;
    position: absolute;
    left: -19px;
    top: 2%;
    background-color: whitesmoke;
    border-color: 1px solid #999;
}

.announce{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.info{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px 5px;
}

.inp{
    color: black !important;
}

@keyframes rotate{

    0%{transform: rotate(0deg);}

    100%{transform: rotate(-360deg);}
}

@keyframes scale-up{
    0%{transform: scale(1%);}

    100%{transform: scale(100%) ;}
}

/* footer */
#footer {
	border-top:1px solid #999; 
	height:50px;
	padding:10px;
	text-align:center;
	width:751px;
    margin: 0 auto;
    font-size: small;
}


/* Responsive */
@media(max-width: 992px) {
    .navbar .links{
        display: none ;
    }

}